@import 'utilities.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

/* Header part start here */

#header{
    background: var(--dark);
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    display: flex;
}

#nav-bar{
    width: 90%;
    height: auto;
    padding: 1% 0;
    margin: 0 auto;
    align-items: center;
}

/* styles to be applied on desktops */

@media only screen and (min-width: 1140px){
    #header{
        background: var(--dark);
        width: 100%;
        position: sticky;
        top: 0;
        
    }
    
    header nav .branding{
        margin-right: 3rem
    }

    #nav-bar{
        width: 98%;
        height: auto;
        padding: 1% 0;
        margin: 0 auto;
        align-items: center;
    }
}

/* styles to be applied on Ipad pro */

@media only screen and (max-width: 1140px){
    #header{
        background: var(--dark);
        width: 100%;
        position: sticky;
        top: 0;
        box-sizing: border-box;
        
    }
    
    #nav-bar{
        width: 98%;
        height: auto;
        padding: 1% 0;
        margin: 0 auto;
        align-items: center;
    }
}

/* styles to be applied on iPad */

@media only screen and (max-width: 1140px){
    #header{
        background: var(--dark);
        width: 100%;
        position: sticky;
        top: 0;
        
    }
    
    #nav-bar{
        width: 100%;
        height: auto;
        padding: 1% 0;
        margin: 0 auto;
        align-items: center;
    }
}

.left .navigation a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition:all .3s ease;
    font-size: 1rem;

}

.left .navigation{
    display: flex;
}

.left .navigation a:hover{
    color: var(--primary);
    
}

header nav .branding{
    margin-right: 3rem
}

/* navigation ends here */

/* section one is styled here */

.podcast{
    width: 90%;
    height: auto;
    margin: auto;
}